
.Header{
    padding: 10px 50px;
    background-color: rgb(051, 153, 051);
}

.Header span{
    font-size: 20px;
    font-family: "paybooc-Light", sans-serif;
    font-weight: 600;
}

.arrow-btn{
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    margin: 0px 30px;
    color: white;
    background-color: transparent;
    font-size: 25px;
    /* color: darkgray;
    border: 3px solid #77af9c; 
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2); */
}

.arrow-btn:hover{
    cursor: pointer;
    /* background-color: #77af9c;
    color: #d7fff1; */
}

.montlyContent{
    width: 100%;
    color: white;
}

.montlyContent span{
    display:inline-block;
    width: 45px;
    font-size: 40px;
    font-weight: bold;
}

.recordsContent{
    border-bottom: solid 1px;
    border-bottom-color: gray;
    height: 130px;
    display: flex;
    align-items: center;
    background-color: white;
    width: 450px;
    border-radius: 15px;
    margin: auto;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}


.recordsContent div{
    width: 50%;
}

.recordsContent .expendContent{
    border-right: solid 1px;
    border-right-color: gray;
}

.recordsContent .amount{
    font-weight: bold;
    font-size: 30px;
}

.recordsContent .expendContent .amount{
    color: red;
}

.recordsContent .incomeContent .amount{
    color: green;
}


.Main {
    padding: 10px 50px;
}

.Main .list-header{
    height: 50px;
    line-height: 50px;
    text-align: left;
    border-bottom: solid 1px;
    border-color: gray;
}

.transper.btn{
    float: right;
    font-size: 35px;
    background-color: transparent;
    border: 0;
}

.Main .list-header button:hover{
    cursor: pointer;
}

.Main .budget-list ul {                   
    list-style: none; 
    padding-left: 0px;
} 


.Main .budget-list ul li {        
    padding: 25px 0;
    text-align: left;
}

.Main .budget-list dt {
    margin: 15px;
}


.Main .budget-list dt dl {        
    margin-bottom: 15px;           
    padding: 15px 0;
    border-bottom: 1px solid #e2e2e2;
    display: flex;
    justify-content: space-between;  
    height: 50px;            
    line-height: 50px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
} 


.Main .budget-list .category {
    width:15%;
    border-radius: 25px;
    margin-left: 15px;
    text-align: center;
}

.CTGR001 {
    background-color: #afeeee;
}

.CTGR002 {
    background-color: #deb887;
}

.CTGR003 {
    background-color: #90ee90;
}

.CTGR004 {
    background-color: #ffd700;
}

.CTGR005 {
    background-color:#ffc0cb;
}

.CTGR006 {
    background-color: #87cefa;
}

.CTGR007 {
    background-color: cadetblue;
}

.CTGR008 {
    background-color: #ffa500;
}

.CTGR009 {
    background-color: #32cd32;
}

.CTGR010 {
    background-color: cadetblue;
}

.CTGR011 {
    background-color: #9932cc;
}

.CTGR012 {
    background-color: #1e90ff;
}

.CTGR013 {
    background-color: #ffdead;
}

.CTGR014 {
    background-color: #e6e6fa;
}

.CTGR015 {
    background-color:#c0c0c0;
}



.Main .budget-list .detail {
    width:55%;
    text-align: left;
    padding-left: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.Main .budget-list .amount {
    width:30%;
    text-align: right;
    margin-right: 15px;
}