.App {
  text-align: center;
}

body {
  font-family: 'nanumsquare';
}


.bank-logo{
  background-image: url(./img/bank_green.png);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
}

.budget-logo {
  background-image: url(./img/bank_green.png);
  background-size: 250px 250px;
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 300px;
}

.black-nav {
  /* background-color: white; */
  width: 96%;
  display: flex;
  padding: 20px;
  font-weight: 600;
}

.main-title {
  color: rgb(051, 153, 051);
  font-size: 20px;
}

.logout {
  background-color: white;
  border: none;
  margin-left: auto;
  font-size: 10px;
}

.list {
  margin-top: 30px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}


.topMenu {            
  height: 40px;
  width: 100%;
  display: flex;
}

.topMenu ul {
  margin: 0 auto;
}

.topMenu ul li {                   
  list-style: none;          
  color: #2d2d2d;              
  float: left;               
  line-height: 40px;         
  vertical-align: middle;     
  text-align: center;         
}

.topMenu .menuLink {                              
  text-decoration:none;                      
  color: #2d2d2d;                             
  display: block;                            
  width: 150px;                              
  font-size: 12px;                           
  font-weight: bold;                         
  font-family: "Trebuchet MS", Dotum, Arial; 
}

.topMenu .menuLink:hover {            
  color: rgb(051, 153, 051);                   
}

.topMenu .menuLink.active {            
  color: rgb(051, 153, 051);  
}

.w-btn {
  position: relative;
  border: none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}

.w-btn-green {
  background-color: white;
  color: rgb(051, 153, 051);
  border: 1px solid;
  border-color: rgb(051, 153, 051);
}

.w-btn-green2 {
  background-color: rgb(153, 205, 153);
  color: rgb(051, 153, 051);
  border: 1px solid;
  border-color: rgb(153, 205, 153);
}

.w-btn:hover {
  cursor: pointer;
}

.modal {
  width: 250px;
  height: 200px;
  background-color: antiquewhite;
  text-align: left;
  margin: 10px;
  padding: 15px;
}


/*모달 팝업 영역 스타일링*/
.modal {
  /*팝업 배경*/
  top:-10px;
  left: -10px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: rgba(0,0,0,0.5);
  position: fixed;
}

.modal .modal_popup {
  /*팝업*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #ffffff;
    border-radius: 20px;
    width: 30%;
    height: 70%;
    font-size: 15px;
}

.modal .modal_popup input {
  font-size: 15px;
  color: #222222;
  width: 90%;
  border: none;
  border-bottom: solid #aaaaaa 1px;
  padding-bottom: 10px;
  padding-left: 10px;
  position: relative;
  background: none;
  z-index: 5;
}

.modal .modal_popup input:focus { outline: none; }
 
.modal .modal_popup select {
  font-size: 15px;
  color: #222222;
  width: 94.5%;
  border: none;
  border-bottom: solid #aaaaaa 1px;
  padding-bottom: 10px;
  padding-left: 10px;
  position: relative;
  background: none;
  z-index: 5;
}

.MuiFormControl-root.MuiTextField-root.css-z3c6am-MuiFormControl-root-MuiTextField-root{
  width:95%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
